body {
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #333;
}

label {
    font-weight: bold;
}

#date-picker {
    padding: 5px;
    margin: 10px 0;
}

#schedule-container {
    margin-top: 20px;
    width: 80%; 
    margin: 20px auto; 
    min-height: 500px;
}

.schedule-card {
    background-color: #bbbbbb; 
    border: 2px solid black;   
    border-radius: 12px;       
    padding: 15px;
    margin-bottom: 15px;       
    text-align: left;          
    font-weight: bold;         
}

.schedule-card p {
    margin: 5px 0;            
}

.softballgame{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.row {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 10px;
}

@media (max-width: 600px) {
    .row {
        flex-direction: column;
        gap: 15px; 
    }
    
    .softballgame{
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }
}

