/* 基本樣式設定 */
body {
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center; /* 置中所有內容 */
}

h1 {
    color: #333;
}

label {
    font-weight: bold;
}

#date-picker {
    padding: 5px;
    margin: 10px 0;
}

#schedule-container {
    margin-top: 20px;
    width: 80%; 
    margin: 20px auto; 
}

.schedule-card {
    background-color: #bbbbbb; 
    border: 2px solid black;   
    border-radius: 12px;       
    padding: 15px;
    margin-bottom: 15px;       
    text-align: left;          
    font-weight: bold;         
}

.schedule-card p {
    margin: 5px 0;            
}
