body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 20px;
}


.stats-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.left-panel, .right-panel {
    flex: 1;
    margin: 0 10px;
}

.tab-cont {
    display: none;
}

.tab-cont.active {
    display: block;
}

.tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.tabs button {
    padding: 10px 20px;
    cursor: pointer;
}

.index_topfive_list ul {
    list-style-type: none;
    padding: 0;
}

.index_topfive_list li {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.index_topfive_list .rank {
    width: 30px;
    text-align: center;
}

/* 響應式排版 */
@media (max-width: 768px) {
    .stats-container {
        flex-direction: column;
    }

    .left-panel, .right-panel {
        margin: 10px 0;
    }
}
